/* Css selector */

/*section { 
  height: 500px ;
  width: 100px ; 
  
}*/

body{
   background-color: rgb(30, 150, 30);
   /* margin: 0; */
 }

 header{
   height:  100px;
   margin: 1;
   text-align: center;
   padding-top: 10px

   }
   h1{
  color: black;
  margin-top: 25px;
  float: left;

    }
  li {
    display: inline-block;
    padding-left: 30px;
    

  }
  ul{
    margin-right: 25px;
    margin-top: 40px;
   
    

  }
  a {
    text-decoration: none;
      font-size: 20px;
      color:white;
      background-color: rgb(71, 66, 66);

  }
  nav {
    float: right;
  }
   section{
  /* property : value ; */
  /* height: 300px ; */
  width: 100%;
  background-color: rgb(236, 226, 74);
  color: black;
  
     }


     div{
  background-color: rgb(236, 226, 74);
  color: black;
  margin: 20px;

  }





